@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    
}

h1, li, a, button {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: beige;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-name {
    cursor: pointer;
}

.nav-left {
    list-style: none;
}

.nav-left li {
    display: inline-block;
    padding: 0px 25px;
}

.nav-left li a{
    transition: all 0.3 ease 0s;
}

.nav-left li a:hover{
    color: rgb(120, 27, 182);
}

button {
    padding: 10px 20px;
    background-color: rgb(133, 31, 201);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}

button:hover {
    color: black;
}


.neon {
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding-top: 75px;
    color: #FFD5FF;   
    translate: (-50%, -50%);
    text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
    letter-spacing: 8px;
}

    
.flicker-slow{
    background-color: transparent;
    animation: flicker 5s linear infinite;
    text-decoration: none;
  }
  
  .flicker-fast{
    background-color: transparent;
    animation: flicker 3s linear infinite;
    text-decoration: none;
  }

  @keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.2;
	}
  }
  
.logo {
    display: block;
    margin: auto;
    width: 25%;
    padding-top: 100px;
}

.footer {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 450px;
    letter-spacing: 30px;
    

}
